.container{
    .user{
        flex-direction: column;

        @include content-center;

        margin-top: 10rem;
    }
    img{
        width: 15rem;
        height: 15rem;
        
        border-radius: 50%;

        margin-bottom: 2.5rem;
    }

    p{
        line-height: 2;

        font-size: 1.5rem;
    }

    a{
        color: $link-color;

        text-decoration: underline;

        &:hover{
            color: $link-hover-color;

            transition: 0.1s;
        }
    }

    h2{
        font-size: 1.75rem;
        color: $fancy-black;
    }

    .user{
        .fa-heart{
            //      top  right  bottom left
            margin: 2rem 1.5rem 2rem auto;

            font-size: 3rem;

            color: lightgrey;

            cursor: pointer;
        }
    }
}