@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  overflow: hidden;
}

.container {
  background-color: #f3f3f3;
  width: 35rem;
  height: 44.5rem;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.container .header {
  padding: 1.5rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .header .hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0.9rem;
  margin-right: 2rem;
  cursor: pointer;
}

.container .header .hamburger .line {
  width: 2rem;
  height: 1px;
  background-color: black;
}

.container .header .hamburger .line:nth-child(2) {
  position: relative;
  top: 0.5rem;
}

.container .header .hamburger .line:last-child {
  position: relative;
  top: 1rem;
}

.container .header h2 {
  font-size: 1.75rem;
  color: black;
  letter-spacing: 0.5px;
}

.container .header .view-history {
  margin-left: auto;
  margin-top: auto;
}

.container .header .view-history button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.container .header .view-history button i {
  font-size: 1.8rem;
}

.container .history {
  height: 3rem;
  padding: 0.25rem;
  padding-right: 1rem;
  font-size: 1.5rem;
  color: grey;
  letter-spacing: 1px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .result {
  height: 5rem;
  padding: 0.25rem;
  padding-right: 1rem;
  font-size: 4rem;
  font-weight: 500;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container .rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3px;
  margin-top: 1rem;
}

.container .rows .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .rows .row .cell {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1px;
  height: 5.5rem;
  background-color: white;
  font-size: 1.75rem;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.container .rows .row .cell:last-of-type {
  background-color: #fafafa;
  font-weight: 300;
  font-size: 2.5rem;
}

.container .rows .row:first-of-type .cell {
  background-color: #fafafa;
  font-weight: 300;
}

.container .rows .row:last-of-type .cell:last-of-type {
  background-color: #77a8dd;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.container .rows .row:last-of-type .cell:last-of-type:hover {
  background-color: #3074be;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.container .rows .row .cell:hover {
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

.container .history-sheet {
  width: 31rem !important;
  padding: 1rem 2rem;
  width: 100%;
  height: 70%;
  background-color: white;
  position: relative;
  bottom: -1.5rem;
  border-radius: 1rem;
  border-bottom: 1px solid lightgrey;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container .history-sheet p {
  font-size: 2rem;
  color: #4a4a4a;
  letter-spacing: 5px;
}

.container .history-sheet strong {
  color: black;
}

.container .history-sheet .toast {
  margin: 2rem 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto !important;
}
/*# sourceMappingURL=main.css.map */