@mixin hamburger-line {
    width: 3rem;
    height: 1px;
    
    background-color: $black;
}

@mixin flex-row {
    display: flex;
}

@mixin flex-col {
    display: flex;
    flex-direction: column;
}

@mixin content-center {
    display: flex;
    justify-content: center;
    align-items: center;
}