@import './config';
@import './variables';
@import './generics';

.container{
    background-color: $background-color;

    width: 35rem;
    height: 44.5rem;

    border-radius: 1rem;

    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);

    .header{
        padding: 1.5rem 1rem;

        @include flex-row;

        .hamburger{
            @include flex-col;
            @include content-center;

            margin-bottom: 0.9rem;
            margin-right: 2rem;

            cursor: pointer;

            .line{
                @include hamburger-line;
            }
            .line:nth-child(2){
                position: relative;
                top: 0.5rem;
            }
            .line:last-child{
                position: relative;
                top: 1rem;
            }
        }

        h2{
            font-size: 1.75rem;
            color: black;
            letter-spacing: 0.5px;
        }

        .view-history{
            margin-left: auto;
            margin-top: auto;

            button{
                background-color: transparent;

                border: none;
                
                cursor: pointer;

                i{
                    font-size: 1.8rem;
                }
            }
        }
    }

    .history{
        height: 3rem;

        @include response-box-padding;
        
        font-size: 1.5rem;
        color: grey;
        letter-spacing: 1px;
        
        @include flex-end;
    }

    .result{
        height: 5rem;

        @include response-box-padding;
        
        font-size: 4rem;
        font-weight: 500;
        
        @include flex-end;
    }

    .rows{
        @include flex-col;
        padding: 3px;

        margin-top: 1rem;

        .row{
            @include flex-row;

            .cell{
                width: 100%;

                @include content-center;

                margin: 1px;

                height: 5.5rem;

                background-color: $primary-color;

                font-size: 1.75rem;
                font-weight: bold;

                border-radius: 1rem;

                cursor: pointer;

                transition: 0.15s;

                &:last-of-type{
                    background-color: $secondary-color;

                    font-weight: 300;
                    font-size: 2.5rem;
                }
            }

            &:first-of-type{
                .cell{
                    background-color: $secondary-color;

                    font-weight: 300;
                }
            }

            &:last-of-type{
                .cell:last-of-type{
                    background-color: $tertiary-color;

                    transition: 0.15s;

                    &:hover{
                        background-color: darken($color: $tertiary-color, $amount: 20);

                        transition: 0.15s;
                    }
                }
            }

            .cell:hover{
                background-color: rgba(0, 0, 0, 0.1);

                transition: 0.15s;
            }
        }
    }
}